<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <body>

        <section th:fragment="servicios">

            <div class="hero">

                <div>
                    <h1>Mantenimiento en todo equipo de computación</h1>
                    <p>Servicios profesionales para tu equipo</p>
                    <button>Explorar ahora</button>
                </div>

                <div>
                    <img src="/img/servicio.png" width="250">
                </div>

            </div>


            <div class="categorias">

                <div>
                    <img src="/img/reparacion.png" width="70">
                    <p>Reparación</p>
                </div>

                <div>
                    <img src="/img/tinta.png" width="70">
                    <p>Tintas</p>
                </div>

                <div>
                    <img src="/img/laser.png" width="70">
                    <p>Láser</p>
                </div>

                <div>
                    <img src="/img/mantenimiento.png" width="70">
                    <p>Mantenimiento</p>
                </div>

            </div>

        </section>

    </body>
</html>
