<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->

<html xmlns:th="http://www.thymeleaf.org">

    <head th:fragment="head">
        <meta charset="UTF-8">
        <title>Refill</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </head>

    <body>

        <header th:fragment="header">
            <nav class="navbar">
                <ul class="menu">
                    <li><a href="/" class="active">INICIO</a></li>
                    <li><a href="/tienda">TIENDA</a></li>
                    <li><a href="/nosotros">NOSOTROS</a></li>
                    <li><a href="/contacto">CONTACTO</a></li>
                </ul>
                <div class="search-box">
                    <input type="text" placeholder="Buscar...">
                    <button><i class="fa fa-search"></i></button>
                </div>
            </nav>
        </header>



        <footer th:fragment="footer">

            <div class="footer-container">

                <div>
                    <h3>Refill</h3>
                    <p>Impresiones & Servicios</p>
                </div>

                <div>
                    <h4>Enlaces rápidos</h4>
                    <p>Inicio</p>
                    <p>Tienda</p>
                    <p>Ofertas</p>
                </div>

                <div>
                    <h4>Suscríbete</h4>
                    <input type="email" placeholder="Tu correo">
                    <button>Suscribirse</button>
                </div>

            </div>

        </footer>

    </body>
</html>
