<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Recuperar contraseña</title>
        <link rel="stylesheet" th:href="@{/css/styles.css}">
    </head>
    <body>

        <div th:replace="general/fragmentos :: header"></div>

        <div class="form-container">
            <h2>Recuperar contraseña</h2>

            <form action="/recuperar" method="post">
                <input type="email" name="correo" placeholder="Correo" required>
                <button type="submit">Recuperar</button>
            </form>

            <p style="color:#007BFF;" th:text="${mensaje}"></p>

            <div class="links">
                <a href="/login">Volver</a>
            </div>
        </div>

        <div th:replace="general/fragmentos :: footer"></div>

    </body>
</html>